.header {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(180, 58, 180, 1), rgba(166, 29, 253, 1), rgba(69, 192, 252, 1));
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.header #logo {
  margin-left: 3%;
  display: flex;
  color: aliceblue;
  text-decoration: none;
  align-items: center;
}

.header #logo_text {
  text-decoration: none;
  font-family: monospace;
  font-size: 2rem;
  padding: 10px;
}

#books_button,
#sign_in_button,
#about_us_button {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px;
  background-color: transparent;
  border-width: 3px;
  border-color: aliceblue;
  color: aliceblue;
  border-style: solid;
  cursor: pointer;
  transition: filter 0.3s;
  border-radius: 20px;
  font-size: 1rem;
}

#books_button:hover,
#about_us_button:hover,
#sign_in_button:hover {
  filter: brightness(0.85);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: monospace;
  opacity: 70%;
  z-index: 1000;
}

.page_container {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.image_container,
.text_container {
  flex: 1;
  padding: 20px;
  text-align: justify;
  font-family: monospace;
  font-size: x-large;
}

.image_container img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.sign-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  min-height: 2rem;
  min-width: 250px;
}

.sign-form-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(30deg, rgba(180, 58, 180, 1), rgba(166, 29, 253, 1), rgba(69, 192, 252, 1));
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 1rem;
  text-decoration: none !important;
  min-width: 305px;
}

.sign-form-btn:hover {
  background: linear-gradient(30deg, rgba(160, 38, 160, 1), rgba(146, 9, 223, 1), rgba(49, 172, 232, 1));
}

.sign-form-label {
  display: flex;
  margin-bottom: 5px;
  font-family: monospace;
  justify-content: center;
  font-size: 1rem;
}

.sign-form h1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header #logo_text {
    font-size: 1.5rem;
  }

  #books_button,
  #sign_in_button,
  #about_us_button {
    font-size: 1rem;
    padding: 8px;
  }

  .page_container {
    flex-direction: column;
  }

  .image_container,
  .text_container {
    flex: 1 1 100%;
    padding: 10px;
  }

  .sign-form {
    padding: 15px;
  }

  .sign-form-btn {
    min-width: 100%;
  }

  .header #logo {
    margin-left: 1%;
  }
}

.text_slider_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider_container {
  flex: 1;
  padding: 20px;
}

.overlay_slider_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay_slider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .text_slider_container {
    flex-direction: column;
  }

  .slider_container {
    display: none;
  }

  .overlay_slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
